.env
bin/
obj/
out/
.vs
.vscode/
.idea/
*.code-workspace
wwwroot/lib/
wwwroot/node_modules/
*.log
*.vspscc
*.vssscc
*.dbmdl
*.pdb
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
appsettings.Development.json
secrets.json
*.orig