<div id="button_row">
    @if (idRolUsuarioLogueado === 6) {
        <button matButton="outlined" class="buttons" disabled (click)="createTask()">Crear</button>
        <button matButton="outlined" class="buttons" disabled (click)="updateTask()">Editar</button>
        <button matButton="outlined" class="buttons" disabled (click)="deleteTask()">Eliminar</button>
        <button matButton="outlined" class="buttons" disabled >Segmentar</button>
    } @else {
        <button matButton="outlined" class="buttons" (click)="createTask()">Crear</button>
        <button matButton="outlined" class="buttons" (click)="updateTask()">Editar</button>
        <button matButton="outlined" class="buttons" (click)="deleteTask()">Eliminar</button>
        <button matButton="outlined" class="buttons">Segmentar</button>
    }
</div>

<div id="Task_space">
    @for (task of tasks; track task.cnIdTarea) {
        <mat-card class="example-card" appearance="outlined">

            <mat-checkbox
            [checked]="selectedTaskId === task.cnIdTarea"
            (change)="onCheckboxChange(task.cnIdTarea)"
            ></mat-checkbox>

            <!-- Informacion de la tarea -->
            <div id="info_task">
                <!-- Encabezados de la tarea -->
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title><strong><u>{{task.ctTituloTarea}}</u></strong></mat-card-title>
                        <mat-card-subtitle>{{task.ctDescripcionTarea}}</mat-card-subtitle>
                    </mat-card-title-group>
                </mat-card-header>

                <!-- Informacion principal de la tarea -->
                <mat-card-content>
                    <!-- Fecha limite -->
                     <div class="info_task_element">
                         <span style="color: rgb(213, 0, 0);">Vencimiento:</span>
                         <span>{{task.cfFechaLimite | date: 'yyyy-MM-dd HH:mm'}}</span>
                     </div>

                    <!-- Estados -->
                    <div class="info_task_element">
                        <strong>
                            <span>Estado: </span>
                        </strong>

                        <select
                        [disabled]="!puedeModificarEstado(task)"
                        (change)="cambioEstado(task, $event)"
                        >
                            <option [value]="task.cnIdEstado" selected>
                                {{ nombresEstados[task.cnIdEstado] }}
                            </option>
                            <option *ngFor="let estadoId of task.estadosDisponibles" [value]="estadoId">
                                {{ nombresEstados[estadoId] }}
                            </option>
                        </select>
                    </div>
                    
                    <!-- Prioridad -->
                     <div class="info_task_element">
                        <strong>
                            <span>Prioridad: </span>
                        </strong>
                        <span>{{nombresPrioridades[task.cnIdPrioridad]}}</span>
                     </div>

                    <!-- Complejidad -->
                     <div class="info_task_element">
                        <strong>
                            <span>Complejidad: </span>
                        </strong>
                        <span>{{nombresComplejidades[task.cnIdComplejidad]}}</span>
                     </div>

                </mat-card-content>
            </div>

            <!-- Boton de leer mas -->
            <button matIconButton id="read_more_button">
                <mat-icon>read_more</mat-icon>
            </button>
            
        </mat-card>
    }
</div>